@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('~/assets/fonts/Inter-Regular.ttf') format('truetype');
  }

:root {
	--black: #252422;
	--white: #fff;
	--gray: #dee2e6;
	--green: #3c6e71;
	--blue: #284b63;
	--max-width: 1300px;
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Inter";
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	color: var(--black);
}

h1,h2,h3,h4,h5,h6 {
	color: var(--black);
}

h2 a{
	color: var(--black);
}

a {
	text-decoration: none;
	color: var(--blue);
}

a:hover {
	opacity: 0.9;
}

.main {
	max-width: 1300px;
	margin: 0 auto;

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-bottom: .5rem;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
